<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="app-name">{{navigationState.appName()}}</h1>

  <div style="margin-right: 0; margin-left: auto">

    <a *ngFor="let toolbarContent of navigationState.toolbarContents()" [routerLink]="[toolbarContent.routerLink]"
       mat-icon-button
       [matTooltip]=toolbarContent.tooltip>
      <mat-icon>{{toolbarContent.icon}}</mat-icon>
    </a>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container full-height">
  <mat-sidenav #snav fixedTopGap="64" [fixedInViewport]="true" mode="side">
    <mat-nav-list>
      <a *ngFor="let navItem of navigationState.navigationItems()" mat-list-item
         [routerLink]="[navItem.routerLink]">{{navItem.linkName}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

